*{
    margin: 0;
    padding: 0;
    max-width: 1440px;
}
#h1div{
    margin-top: 40px;
    margin-left: 110px;

}
.navbarg {
    margin-right: 80px;
    margin-top: 47px;
    margin-left: -90px;
}
.navbarg ul{
    display: flex;
    list-style: none;
}
.navbarg li{
    margin-left: 50px;
}

.Navbar_down ul{
    list-style: none;
    margin-left: 135px;
}
.Navbar_down li{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
}
.dropends{
    margin-left: 51px;
}
.hl{
    border-bottom:1px solid rgb(179, 179, 179);
    width:1440px;
    margin: 23.25px 0 39.75px 0;
}
.vl{
    border-left:1px solid rgb(179, 179, 179);
    height:344px;
    margin-left: 16.25px;
    margin-bottom: 90px;
    margin-top: -39.75px;
}
.add_to{
    background-color: black;
    color: white;
    width: 270px;
    height: 41px;
    border-bottom-left-radius:4px ;
    border-bottom-right-radius:4px ;
    position: absolute; top: 209px;
    display: none;
}
.icard_1:hover .add_to{
    display: block;
}
.unfill1{
   color:rgb(191, 191, 191);
   
}
.fill1{
    color: rgb(255, 173, 51);
    display: none;
    gap: 5px;
    position:absolute;
    top:317px;
}
.unfill1:hover .fill1{
    display: block;
}
